{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- styles -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock%}

<!-- content -->
{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-4">
            <h3>General News</h3>
            <ul>
                {{ macro.displaySourceList(general) }}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Business News</h3>
            <ul>
                {{ macro.displaySourceList(business) }}
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Entertainment News</h3>
            <ul>
                {{ macro.displaySourceList(entertainment) }}
            </ul>

        </div>

    </div>
</div>
<footer>
    <div class="well" style="text-align: center;">
        <i class="fa fa-android" style="font-size:36px"></i> &nbsp; &nbsp; <a href="#"><span class="glyphicon glyphicon-bell" style="font-size:28px"></span></a>
        <br>
        <br>
        <p>&copy 2018. Kevin Jared</p>
    </div>
</footer>
<style>
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Meera Inimai', sans-serif;
    }
</style>

{% endblock%}

</html>