<div id="navbar" class="navbar navbar-default" role="navigation" style="background-color:aqua;">
    <div class="container-fluid">
        <p align="right"><a href="">Home</a> <span class="glyphicon glyphicon-home"></span></p>
        <img src="/static/photos/daily-news-logo.png" alt="" align="center">
    </div>
</div>
<style>
    img:hover {
        transition: all 1000ms cubic-bezier(0.005, 1.650, 1.000, -0.600);
        transition-timing-function: cubic-bezier(0.005, 1.650, 1.000, -0.600);
    }

    #navbar a {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Meera Inimai', sans-serif;
        font-size: 18px;
    }
</style>